@import url("https://fonts.googleapis.com/css2?family=Alan+Sans:wght@300..900&display=swap");
:root {
  --bg-dark: #050a1e;
  --bg-light: #1f2535;
  --bg-lighter: #2f354b;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Alan Sans", sans-serif;
  color: #fff;
  font-weight: 500;
}

html,
body {
  font-size: 10px;
  height: 100%;
  width: 100%;
  background-color: var(--bg-dark);
}

main {
  width: 100%;
  padding: 2rem 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

main nav {
  background-color: var(--bg-light);
  width: 100%;
  padding: 1rem;
  display: flex;
  gap: 0;
  align-items: center;
  border-radius: 0.5rem;
  justify-content: space-between;
}

main nav #logo {
  display: flex;
  gap: 1rem;
  align-items: center;
  cursor: pointer;
}

main nav #logo i {
  font-size: 2.8rem;
  color: #f55b54;
}

main nav #logo h1 {
  font-size: 1.8rem;
  font-weight: 600;
}

main nav > i {
  padding: 0.8rem;
  font-size: 1.8rem;
  border-radius: 0.5rem;
  cursor: pointer;
  background-color: var(--bg-lighter);
}

main header {
  max-width: 2000px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  padding: 2rem 1rem;
}

main header #head{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

main header #head h1 {
  font-size: 2.5rem;
}

main header #head #btns {
  display: flex;
  align-items: center;
  gap: 1rem;
}

main header #head #btns .btn {
  font-size: 1.5rem;
  padding: 0.8rem 1.3rem;
  border: 1px solid #fff;
  border-radius: 1.9rem;
  font-weight: 400;
  cursor: pointer;
  background-color: var(--bg-lighter);
}
main header #head #btns .btn:hover{
  background-color: var(--bg-light);
  border: none;
}

main header #head #btns #allBtn {
  background-color: #f55b54;
  color: var(--bg-dark);
  border: none;
}
main header #head #btns #allBtn:hover{
  background-color:#f36760 ;
}

main header #contain {
  width: 100%;
  padding: 2rem 0;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 1rem;
}

main header #contain .xtn {
  padding: 1rem;
  border: 1px solid #fff;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border-radius: 1.5rem;
  background-color: var(--bg-lighter);
}

main header #contain .xtn .xtnInfo {
  width: 95%;
  display: flex;
  align-items: flex-start;
  gap: 1rem;
}

main header #contain .xtn .xtnInfo .xtnLogo {
  padding: 1rem;
  border: 1px solid #fff;
  border-radius: 0.5rem;
}

main header #contain .xtn .xtnInfo .xtnLogo i {
  font-size: 2.5rem;
  color: var(--bg-dark);
}

main header #contain .xtn .xtnInfo .greenish {
  background-color: #c0d9bc;
}
main header #contain .xtn .xtnInfo .bluish {
  background-color: #a8d5e4;
}
main header #contain .xtn .xtnInfo .reddish {
  background-color:#ffcfd3;
}
main header #contain .xtn .xtnInfo .pink {
  background-color:#edc1e9;
}
main header #contain .xtn .xtnInfo .violet {
  background-color:#ceb9f1;
}
main header #contain .xtn .xtnInfo .green {
  background-color:#bafbc1;
}

main header #contain .xtn .xtnInfo .xtnTxt{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.5rem;
}

main header #contain .xtn .xtnInfo .xtnTxt .xtnHead{
  font-size: 1.6rem;
}

main header #contain .xtn .xtnInfo .xtnTxt .xtnAbout{
  font-size: 1.1rem;
  color: rgb(249, 241, 241);
  font-weight: 300;
}

main header #contain .xtn .buttons{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

main header #contain .xtn .buttons .rmvBtn{
  font-size: 1.2rem;
  padding: 0.3rem 0.8rem;
  border: 1px solid #fff;
  border-radius: 1rem;
  font-weight: 300;
  cursor: pointer;
}

main header #contain .xtn .buttons .onOff{
  font-size: 2.5rem;
  cursor: pointer;
}

main header #contain .xtn .buttons .onOff .on{
  color: #f55b54;
}

main header #contain .xtn .buttons .onOff .off{
  color: rgb(170, 164, 164);
}

@media screen and (min-width:768px){
  main header #head{
    flex-direction: row;
    justify-content: space-between;
  }
  main header #contain{
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media screen and (min-width:1024px){
  html{
    font-size: 12px;
  }
  main header #contain{
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}




